.aboutme {
  width: 100%;
  color: #808080;
}

.profile-img {
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.profile-data {
  align-items: center;
  justify-content: center;
  padding: 2px;

}

.table {
  width: 100%;
  display: table;
  border-collapse: collapse;
}

.table-cell {
  padding-top: 4%;
  padding-bottom: 4%;
  display: table-cell;
}

.table-row {
  border-bottom: 1px solid #dcdcdc;
  border-top: 1px solid #dcdcdc;

  display: table-row;
}

.column1 {
  text-align: left;
  padding-left: 15%;
  color: #04881b;
  font-weight: 500;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;

  border-left: 30px solid green;
}

.column3 {
  text-align: left;
  padding-left: 10%;
  font-weight: 700;
}

.image {
  height: 35%;
  width: 35%;
}

ul {
  list-style-type: none;
  padding: 0;
}

/*For mobile*/

@media screen and (max-width: 600px) {
  .aboutme {
    display: block;
  }

  .profile-img {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 35%;
  }

  .profile-data {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
  }

  .profile-data h1 {
    text-align: center;
  }

  .image {
    height: 30%;
    width: 30%;
    border-radius: 50%;
    border: 1px solid #8e8e8e;
  }
}