.aboutme {
  width: 100%;
  height: 97%;
  color: #000;
  display: flex;
  justify-content: space-evenly;
}

.profile-img{
  width: 40%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.profile-data{
  width: 60%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: left;
  padding: 2px;

}

.image{
  height: 50%;
  width: 50%;
  border-radius: 50%;
  border: 1px solid #8e8e8e;
}

ul {
  list-style-type: none;
  padding: 0;
}
/*For mobile*/

@media screen and (max-width: 600px) {
  .aboutme {
    display: block;
  }

  .profile-img{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 35%;
  }
  
  .profile-data{
    width: 80%;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
  }

  .profile-data h1{
    text-align: center;
  }

  .image{
    height: 30%;
    width: 30%;
    border-radius: 50%;
    border: 1px solid #8e8e8e;
  }
}
