.contact {
  width: 100%;
  height: 100%;
  color: #808080;
}

.contact-image {
  height: 20vh;
  width: 20vh;
  border-radius: 50%;
  box-shadow: 10px 10px 20px 0px #eae9e9;
  margin: 5%;
  margin-top: 15%;
}

.social-logo {
  height: 30px;
  width: 30px;
  /* filter: gray;
  -webkit-filter: grayscale(1); */
}


.social-menu1 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10%;
  animation: transformIn .3s ease-in;
  animation-delay: .15s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.social-menu2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10%;
  animation: transformIn .3s ease-in;
  animation-delay: .45s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.social-logo-div {
  padding: 15px;
  box-shadow: 2px 3px 20px 0px #eae9e9;
  border-radius: 50%;
}

@keyframes transformIn {
  0% {
    opacity: 0;
    visibility: visible;
    transform: translate(0em, 2em);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translate(0em, 0em);
  }
}