.experienceItem {
  line-height: 1.75em;
  border-top: 3px solid;
  border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  padding: 40px;
  counter-increment: section;
  position: relative;
  color: #808080;
}
.experienceItem:before {
  content: counter(section);
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  height: 1.25em;
  width: 1.25em;
  background-color: #000;
  text-align: center;
  line-height: 1.25em;
  color: #fff;
}

.experienceItem:nth-child(odd) {
  border-right: 3px solid;
  padding-left: 0;
}
.experienceItem:nth-child(odd):before {
  left: 100%; 
  margin-left: -20px;
}

.experienceItem:nth-child(even) {
  border-left: 3px solid;
  padding-right: 0;
}

.experienceItem:nth-child(even)::before {
  right: 100%; 
  margin-right: -20px;
}

.experienceItem:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}
.experienceItem:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}

.experience {
  width: 65%;
}