.home {
  height: 100vh;
}

.menubar {
  height: 3vh;
  position: absolute;
  background-color: #000;
  width: 100%;
  color: #fff;
  text-align: start;
  box-sizing: border-box;
  padding: 3px;
}

.menubar-title {
  vertical-align: middle;
  font-weight: 500;
}

.menubar-datetime {
  vertical-align: middle;
  float: right;
  margin-right: 2%;
}

.menubar-lock {
  height: 20px;
  width: 20px;
  cursor: pointer;
  vertical-align: middle;
  padding-right: 7px;
  float: right;
  margin-right: 1%;
}

.notification-group {
  width: 45vh;
  min-height:80vh ;
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.notification {
  width: 100%;
  height: 100px;
  background-color: #fff;
  box-sizing: border-box;
  color: #000;
  opacity: .8;
  border-radius: 3px;
  text-align: left;
  padding: 3px;
  padding-left: 3%;
  margin-top: 2%;
  overflow: hidden;
  cursor: pointer;
}

.notification-title {
  font-size: 1.2em;
  font-weight: 500;
  margin-top: 1%;
  margin-bottom: 1%;
}

.notification-content {
  margin-left: 2%;  
  padding-left: 2%; 
  border-left: 4px solid #4A0943;
  height: 50%;
  display: flex;
}

.notification-content-data {
  font-size: 1em;
  font-weight: 500;
  margin-top: 1%;
  margin-bottom: 1%;
}

@media screen and (max-width: 600px) {
  .notification-group {
    width: 90%;
  }
}