.projects {
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  color: #777;
}

.project-item {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 5%;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 0px 5px 20px 0px #ccc;
}

.project-item:hover .project-img {
  opacity: 0;
}

.project-item:hover .project-details {
  opacity: 1;
}

.project-details {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background: #fff;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  border-radius: 5px;
}

.project-img {
  width: 100%;
  height: 300px;
  transition: .5s ease;
  border-radius: 5px;
}

.project-title {
  font-size: 20px;
}